<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Nelisa's Spaza Shop</title>
        <link rel="icon" type="image/png" href="./icon.png">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/user.css" rel="stylesheet">
        <link href="/css/simple-sidebar.css" rel="stylesheet">
        <link href="/css/half-slider.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <a href="/home"><img src="/nelisa.png" class=".img-responsive" width="250px;"/></a>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#new">Graphs <i class="fa fa-bar-chart"></i></a>
                            <ul id="new" class="collapse">
                                <li>
                                    <a href="productGraph">Product Graph</a>
                                </li>
                                <li>
                                    <a href="graph">Category Graph</a>
                                </li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" data-toggle="collapse" data-target="#demo">Products <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/products_list">Product List</a>
                            </li>
                            <li>
                                <a href="list">Grouped Product Sales</a>
                            </li>
                            <li>
                                <a href="salesPerProduct">Sales Per Product</a>
                            </li>
                            <li>
                                <a href="popular">Most Popular Product</a>
                            </li>
                            <li>
                                <a href="leastpopular">Least Popular Product</a>
                            </li>
                            <li>
                                <a href="earningsPerProduct">Earnings Per Product</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" data-toggle="collapse" data-target="#d">Purchases <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="d" class="collapse">
                            <li>
                                <a href="suppliers">Suppliers</a>
                            </li>
                            <li>
                                <a href="addPurchase">Purchases</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" data-toggle="collapse" data-target="#dmd"> Categories <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="dmd" class="collapse">
                            <li>
                                <a href="category_list">Category List</a>
                            </li>
                            <li>
                                <a href="category_sales">Category Sales</a>
                            </li>
                            <li>
                                <a href="popularCategory">Most Popular Category</a>
                            </li>
                            <li>
                                <a href="leastpopcat">Least Popular Category</a>
                            </li>
                            <li>
                                <a href="earningsPerCategory">Earnings Per Category</a>
                            </li>
                        </ul>
                    </li>    
                    <li>
                        <a href="users">Users <i class="fa fa-users"></i></a>
                    </li>
                    <li>
                        <a href="/logout">Logout <i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
            </div>
            <header id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="fill" style="background-image:url('/mixed-sweets.jpg');"></div>
                    </div>
                <div class="item">
                    <div class="fill" style="background-image:url('/img.png');"></div>            
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('/amasi.png');"></div>
                </div>
                    <div class="item">
                        <div class="fill" style="background-image:url('/dairy-products-600.jpg');"></div>
                    </div>
                </div>
            </header>
            <div id="page-content-wrapper">
                <br>
                <br>
                <div container="class theme-showcase" role="main">
                    <strong>
                    {{{body}}}    
                    </strong>
                </div>  
                <br>
                <br> 
                <a href="#menu-toggle" class="btn btn-primary btn-large" id="menu-toggle"><span class="glyphicon"></span>Menu</a>
            </div>
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/search.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        </body>
</html>