<body id ="background">
<h1>Add Category</h1>

{{#products}}
  <h2>{{Name}}</h2>
  <a href="/categories/edit/{{Id}}">Edit</a>
  <a href="/categories/delete/{{Id}}">Delete</a>
{{/products}}

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div id="add-products">
	
	<h1>Add a product</h1>
	<form action="categories/add" method="POST">
		Description: <input type="text" name="Name">	
		<input type="submit">
	</form>
</div></body>
