<body id ="background">
<div id="container">
   
<form action="Products/add" method="POST">
    <h1>Add a product</h1>
     NAME:<input id="newName" type="text" name="Name" required>

  <select name="Category_Id">
    {{#each categories}}
      <option value = "{{Id}}">{{Name}}</option>
    {{/each}}
  </select> 
  
     <input type="submit" onclick="myFunction()">
   

</form>
 </div>
</div>
<script>
function myFunction() {
   
   $('#newName').val(); 
    if ($('#newName').val() != null){
    alert('New product added');
}
};

</script></body>

