<div id="container"><h2>Category List</h2>
<ul class="people_list">
  
    {{#each products}}
  <table id='box' style="width:100%">
  
    <td>{{Name}}</td>		
    <td align="right"><a class="link" href="/categories/edit/{{Id}}">Edit</a></td>
    <br>
    <td align="right"><a class="link" href="/categories/delete/{{Id}}">Delete</a></td>
  
</table> 
{{/each}}

 
</ul>
	<h1>Add a Category</h1>
	<form action="categories/add" method="POST">
		Description: <input type="text" name="Name">	
		<input type="submit">
	</form>
</div>
