<div id="container"><h2>Categories</h2>
<ul class="people_list">
  
    {{#each products}}
  <table id='box' style="width:100%">
  
    <td>{{Name}}</td>
    <td>{{TotalQty}}</td>		
    <td align="right"><a class="link" href="/products/edit/{{Id}}">Edit</a></td>
    <td align="right"><a class="link" href="/products/delete/{{Id}}">Delete</a></td>
  
</table> 
{{/each}}

 
</ul>
</div>
