 <tr>
            <th>Categories</th>
            <th>Qty Sold</th>
        </tr>
   
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
                <td>{{TotalQty}}</td>
            </tr>
            {{/each}}