    <thead>
        <tr>
            <th>Product</th>
            <th>Qty Sold</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
                <td>R{{TotalEarnings}}</td>
            </tr>
            {{/each}}

