<body id ="background">
<div id="container">
    <input id="category_earnings_search" class="searchBar" type="text" name="Name" placeholder="Search"></input>

<table id="category_earnings" class="table table-striped custab">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount(R)</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td>{{Name}}</td>
                <td>{{TotalQty}}</td>
            </tr>
            {{/each}}
    </table></div></body>
