<!DOCTYPE HTML>
<html>

<head>
<style>
  
       a{
        color:black;
        font-size:20px;
        }


</style>
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		animationEnabled: true,
		title:{
			text: "Category chart"
		},
		data: [
		{
			type: "column", //change type to bar, line, area, pie, etc
			dataPoints: [
<<<<<<< HEAD
                                  {{#each products}}
				{ label: "{{this.name}}", y: {{this.qty}} },
				 {{/each}}
=======
				{{#each products}}
					{ label: "{{this.name}}", y: {{this.qty}} },
  				{{/each}}
	
>>>>>>> 0bd8ed66338e0c10ef14908ce6b15ceacdba240f
			]
		}
		]
		});

	chart.render();
}
</script>
<script type="text/javascript" src="./canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>
