
        <tr>
            <th>Product</th>
            <th>Qty</th>
        </tr>

{{#each products}}
            <tr>
                
                <td>{{Name}}</td>
                <td>{{TotalQty}}</td>
            </tr>
            {{/each}}
 
