<div id="container"><h2>Least Popular Product</h2>


<ul class="people_list">
  
  {{#each products}}
    <li>{{this.name}} -{{this.qty}}</li>
  {{/each}}

<img src="../rose.png" style="width:200px;height:200px"/> 
</ul></div>
