<body id ="background">
<div id="container"><h2>Least Popular Category</h2>


<ul class="people_list">
  
  {{#each products}}
    <li class = "bold">{{this.name}} -{{this.qty}}</li>
  {{/each}}


	
 
</ul></div>
</body>
