<div id="container"><h2>Least Popular Product</h2>


<ul class="people_list">
  
  {{#each products}}
    <li>{{this.name}} -{{this.qty}}</li>
  {{/each}}

<img src="../rose.png" style="width:304px;height:250px"/>
<a href="./index.html">Back to Homepage</a>	
 
</ul></div>
