<div id="container"><h1> Total Product Sales</h1>

<ul class="people_list">
  
  {{#each products}}
<table id='box' style="width:100%">
    <td>{{Name}}</td>
    <td>{{TotalQty}}</td>
</table> 
  {{/each}}

</ul>

<form action="sales/add" method="POST">
     <select name="Id">
    {{#each product}}
      <option value = "{{Id}}">{{Name}}</option>
    {{/each}}
  </select>
    
        <div class="form-group">
            <input type="number" class="form-control" name="Qty" placeholder="Quantity">
        </div>
        <div class="form-group">
            <input type="number" step="any" class="form-control" name="Sales_price" placeholder="Price">
        </div>
        <div class="form-group">
            <input type="date" name="Sales_date" placeholder="Date:yyyy-dd-mm"/>
        </div>
        <input type="submit">
    </form>

</div>
