<div id="container"><h1>Product Sales</h1>

<ul class="people_list">
  
  {{#each products}}
<table id='box' style="width:100%">
    <td>{{Name}}</td>
    <td>{{TotalQty}}</td>
</table> 
  {{/each}}

</ul>

<form action="sales/add" method="POST">
     <select name="Id">
    {{#each product}}
      <option value = "{{Id}}">{{Name}}</option>
    {{/each}}
  </select> 
     Amount:<input type="number" name="Qty">
     <br> 
     Price:<input type="number" step="any" name="Sales_price">
     <br>
     Date:<input type="date" name="Sales_date" placeholder="yyyy-mm-dd"/>  
 <input type="submit">
   

</form>
</div>
