<div id="container"><h1>Product Sales</h1>

<ul class="people_list">
  
  {{#each products}}
<table id='box' style="width:100%">
    <td>{{Name}}</td>
    <td>{{TotalQty}}</td>
</table> 
  {{/each}}

</ul>
<form action="sales/add" method="POST">
     NAME:<input type="text" name="Name">
     Amount:<input type="text" name="Qty">
    
 <input type="submit">
   

</form>
</div>
