<!DOCTYPE html>
<html>
<head>
    <title>Personas</title>
  
</head>
<style>
.box{
  
  background:#0066CC;
  color:black;
  opacity: 2;
  width:300px;
  height:600px;
  float:left;
  margin-left:50px;
  
}


</style>

<body>
<div class="box">
    <img src="./PersonaNelisa.png"/>
    <h2>Nelisa</h2>
    <h2>Owner of Nelisa's Cash Store</h2>

    <h3>Mother of Xolani and grandmother of Ayanda</h3>

   <p>Lives in Khayelitsha, doesn't have her own car but can use her brother's bakkie when she needs to buy stock.<p>

    <p>Nelisa started her spaza shop 8 months ago, soon after her brother got his bakkie. Most of her life, Nelisa has either been a domestic worker or unemployed, but she’s always wanted to run her own business.</p>
</div>

<div class="box">
    <img src="./Xolani.png"/>


   <h2>Xolani</h2>
    <h2>Works at Nelisa's Cash Store</h2>

    <h3>He is Nelisa's son and Ayanda's father. A big soccer fan, sometimes plays on Saturdays.</h3>

    <p>Xolani used to have casual work as a packer, but nothing permanent. He started helping Nelisa out while he was unemployed, and it's unofficially turned into a full time thing. He's usually there from 7am to 8pm during the week.</p>
</div>

<div class="box">
    <img src="./Nthabiseng.png"/>

    <h2>Nthabiseng</h2>

   <h2> Customer of Nelisa’s Cash Store</h2>

 <p>Nthabiseng moved to Cape Town 2 years ago with her boyfriend, and decided to stay when the relationship ended. She now lives with her     cousin in Khayelitsha. She works as an Admin Assistant at a second hand furniture store in Woodstock, and commutes to work by train.</p>

<p>Since Nelisa’s store opened on her route from the station, it’s been a convenient stop on her way to or from work. In the morning she sometimes treats herself to a cool drink or something sweet, and she usually buys milk there on her way home.</p>
</div>
              
</body>
</html>

