<h2>Most Popular Category</h2>


<ul class="people_list">
  
  {{#each products}}
    <li>{{{this.name}}} - {{{this.qty}}}</li>
  {{/each}}
<img src="../beverages-vector.jpg" style="width:304px;height:250px"/>
<a href="./index.html">Back to Homepage</a>	
 
</ul>
