<style>
.row{
  width:10em;
}
</style>
<div id="container">
    <form>
	<input id="allsales_search" class="searchBar" type="text" name="Name" placeholder="Search"></input>
</form>
<table id="allsales" class="table table-striped custab" >
    <thead>
        <tr>
            <th class="row">Product</th>
            <th class="row">Qty Sold</th>
            <th class="row">Price(R)</th>
            <th class="row">Date</th>
        </tr>
    </thead>
            <tr>
                {{#each products}}
                <td class="row">{{Name}}</td>
                <td class="row">{{AmtSold}}</td>
    		<td class="row">{{Sales_price}}</td>
    		<td class="row">{{Sales_date}}</td>
            </tr>
            {{/each}}
    </table>
</div>
<a href="#" class="back-to-top">Back to Top</a>
