<div id="container"><h1>Sales Per Product</h1>
  
  {{#each products}}
<table id='box' style="width:100%">
    <td>{{Name}}</td>
    <td>{{AmtSold}}</td>
    <td>{{Sales_price}}</td>
    <td>{{Sales_date}}</td>   
</table> 
  {{/each}}

</div>
