<!DOCTYPE html>
<html>
<head>
<title>help</title>
</head>
<style>
.box{
  
  background:#0066CC;
  font-size:25px;
  color:black;
  opacity: 0.85;
  width:1000px;
  height:300px;
  float:left;
  margin-left:50px;
  
}                   
</style>
<body> 
<div class="box">
<p>Nelisa runs a spaza shop in Khayelitsha. She heard that we are doing programming and would like some help with her stock information.She introduces us to her staff, and tells us about her customers.</p>

<p>Nelisa and Xolani want a solution that helps to improve their purchasing, so that they can purchase products in bulk (and reduce their  prices) and have the right products in stock to keep the customer happy.</p>
             
</body>
</html>

