
        <tr>
            <th>Supplier</th>
            <th class="text-center">Action</th>
        </tr>

{{#each products}}
            <tr>
                
                <td>{{Name}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/suppliers/edit/{{Id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/suppliers/delete/{{Id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            {{/each}}
 
